@model Product
@{
}
<table borser="1" align="center" width="70%">
    <tr style="background:red;color:white;coloumnspan:2">
        product details

    </tr>
    <tr>
        <th>name:</th>
        <th>@Model.name</th>
    </tr>
    <tr>
        <th>price:</th>
        <th>@Model.price</th>
    </tr>
    <tr>
        <th>description:</th>
        <th>@Model.description</th>
    </tr>


</table>
